/* General Reset */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background: linear-gradient(120deg, #5cecc3,#08654b );
    color: #fff;
    text-align: center;
    padding: 50px 0;
  }
  
  header h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  header p {
    font-size: 1.2rem;
    margin: 10px 0 20px;
  }
  
  header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  
  .section {
    padding: 50px 20px;
    text-align: center;
  }
  
  .bg-alt {
    background: linear-gradient(135deg, #10ca96,#fad0c4);
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .skill {
    background: #f09981;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .project-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px 0;
  }
  